.wd-images-to-follow {
    width: 50px;
    height: 50px;
}

/* 
.wd-search-bar {
    background-color: darkgray;
    color: white;
    border-radius: 50px;
    position: relative;
    height: 30px;
    width: 95%;
    float: left;
    margin-top: 10px;
}

.wd-image {
    padding-right: 12px;
    margin-top: 10px;
    width: 33px;
    height: 33px;
    float: right;
}

.wd-hyperlinks-bar {
    text-decoration: none;
    color:rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    display: inline-block;
}

.wd-first-hyperlink {
    text-decoration: none;
    color: rgb(29,161,242);
    border-bottom: 3px solid rgb(29,161,242); 
    font-size: 15px;
    padding: 16px;
    display: inline-block;
}

.wd-topic-recommended, .wd-tuit-number-recommended {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-title-recommended {
    color: white;
    font-weight: 10;
}

.wd-author-recommended {
    color: white;
    font-size: 13px;
}

.wd-image-news-recommendation {
    width: 100px;
    height: 100px;
    border-radius: 10px; 
    display: flex;
    float: right;
    margin-right: 16px;
    /* padding-top: 15px;
    padding-bottom: 15px; 
    margin-top: 10px;
    margin-bottom: 15px;
}

#post-with-image {
    display: inline-block;
    margin-bottom: -10px;
}

.wd-text-post-with-image {
    display: inline-block; 
    float: left;
}
 */
