.wd-bookmarks-title {
    margin-top: 12px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.wd-bookmarks-handle {
    color: lightgrey;
    font-size: 13px;
}

.wd-avatar-image-bookmarks {
    margin-top: 12px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-author-bookmarks {
    margin-left: 12px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.wd-bookmarks-handle-and-date { 
    color: lightgray;
}

.wd-bookmarks-post {
    display: inline-block;
    vertical-align: top;
}

.wd-main-content-bookmarks {
    display: inline-block;
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin-left: 12px;
    /* margin-right: 16px; */
    margin-bottom: 12px;
}

.wd-bookmark-post-image {
    border-top-right-radius: 10%;
    border-top-left-radius: 10%; 
    height: 264px;
    width: 504px;
    /* margin-left: 12px; */
}

.wd-image-post-bookmarks {
    
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    padding: 12px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid lightgray; 
}

.wd-bookmarks-title {
    font-size: 15px;
    color: white;  
}

.wd-bookmark-post-description {
    font-size: 15px;
    color: lightgray; 
    max-width: 506px;
    /* margin-left: 12px; */
}

.wd-bookmark-icons {
    color: white;
    font-size:24px;
    text-decoration: none;
}

.wd-each-icon {
    color: white;
    font-size:50px; 
}

.wd-bookmark-icon-bar {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

#heart-icon {
    color: red;
}

.wd-heart-icon {
    color: red;
    font-size:50px; 
}
